[Unit]
Description=RIPE Atlas Software Probe
Documentation=https://github.com/Jamesits/docker-ripe-atlas

[Container]
Image=docker.io/jamesits/ripe-atlas:latest
PodmanArgs=--memory=256m
DropCapability=ALL
AddCapability=NET_RAW
# required for tini
AddCapability=KILL
# required for `setpriv` to work
AddCapability=SETUID
AddCapability=SETGID
# required for the entrypoint script to auto-fix the permissions of the directories
AddCapability=FOWNER
AddCapability=CHOWN
AddCapability=DAC_OVERRIDE

# avoids double NAT
# Network=host

Environment=RXTXRPT=yes

Volume=/etc/ripe-atlas:/etc/ripe-atlas:U
Volume=/run/ripe-atlas:/run/ripe-atlas:U
Volume=/var/spool/ripe-atlas:/var/spool/ripe-atlas:U

# https://docs.podman.io/en/latest/markdown/podman-auto-update.1.html
AutoUpdate=registry

[Service]
Restart=always
RestartSec=10s
ExecStartPre=/usr/bin/mkdir -p /run/ripe-atlas

[Install]
WantedBy=multi-user.target
