# a very aggressive watchtower config, useful when deploying in a headless environment
services:
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json
    command: --cleanup --include-restarting --include-stopped --revive-stopped --label-enable
