services:
  ripe-atlas:
    image: docker.io/jamesits/ripe-atlas:latest
    restart: always
    environment:
      RXTXRPT: "yes"
    volumes:
      - "/etc/ripe-atlas/etc:/etc/ripe-atlas"
      - "/var/run/ripe-atlas:/run/ripe-atlas"
      - "/var/spool/ripe-atlas:/var/spool/ripe-atlas"
    cap_drop:
      - ALL
    cap_add:
      - NET_RAW
      # required for `setpriv` to work
      - SETUID
      - SETGID
      # required for auto-fixing the permissions of the directories
      - CHOWN
      - DAC_OVERRIDE
    mem_limit: "64000000000"
    mem_reservation: 64m
    labels:
      - "traefik.enable=false"
      - "com.centurylinklabs.watchtower.enable=true"
    logging:
      driver: json-file
      options:
         max-size: 10m
    # network_mode: "host" # avoids double NAT
    # security_opt:
    #   - seccomp:unconfined
