name: "Container Image Publish"

on:
  push:
    branches:
      - master
    tags:
      - v*
    paths-ignore:
      - 'contrib/**'
      - 'README.md'
      - 'LICENSE'
      - 'renovate.json'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3
      - uses: docker/metadata-action@v5
        id: metadata-probe
        with:
          bake-target: ripe-atlas-probe
          images: docker.io/jamesits/ripe-atlas
          tags: |
            type=edge,branch=master
            type=edge,branch=master,suffix=-probe
            type=semver,pattern={{version}}
            type=semver,pattern={{version}},suffix=-probe
      - uses: docker/metadata-action@v5
        id: metadata-anchor
        with:
          bake-target: ripe-atlas-anchor
          images: docker.io/jamesits/ripe-atlas
          tags: |
            type=edge,branch=master,suffix=-anchor
            type=semver,pattern={{version}},suffix=-anchor
      - uses: docker/bake-action@v6
        with:
          source: .
          files: |
            docker-bake.hcl
            cwd://${{ steps.metadata-probe.outputs.bake-file }}
            cwd://${{ steps.metadata-anchor.outputs.bake-file }}
          set: |
            target.ripe-atlas-anchor.output=type=registry
            target.ripe-atlas-probe.output=type=registry
      - uses: actions/upload-artifact@v4
        with:
          name: "deb"
          path: |
            output/
          retention-days: 3
          compression-level: 0
