name: "Container Image Validation"

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'contrib/**'
      - 'README.md'
      - 'LICENSE'
      - 'renovate.json'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - uses: docker/setup-buildx-action@v3
      - uses: docker/bake-action@v6
        with:
          source: .
          push: false
          files: "docker-bake.hcl"
